<!DOCTYPE html>
<html>
    <head>
        <title>Node Crud</title>
    </head>
    <body>
        <div>
            <div>
                {{{ body }}}
             </div>
        </div>
        
    </body>
</html>